<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>857328532805-h6a2gvfnmfalh2h2625vrm8fpl1s1kod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.857328532805-h6a2gvfnmfalh2h2625vrm8fpl1s1kod</string>
	<key>API_KEY</key>
	<string>AIzaSyBoShAheQfdHURUK-nj9etxvh1jKZyKgc4</string>
	<key>GCM_SENDER_ID</key>
	<string>857328532805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.2020320</string>
	<key>PROJECT_ID</key>
	<string>fcm-demo-aa849</string>
	<key>STORAGE_BUCKET</key>
	<string>fcm-demo-aa849.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:857328532805:ios:7787cf027b3952ad7ed22c</string>
</dict>
</plist>